.comment {
    border-top: dotted 1px #ddd;
    font-size: 0.7em;
}

#table-order-list {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.form-control, .form-select {
    font-size:13px;
}


.table-order-list th {
    background-color: #50586C;
    color : #DCE2F0;
}

.page404 {
    font-size: 5.0em;
}

.highlight {
    background-color: #bbdefb;
    }